In [1]:
import pandas as pd
import numpy as np
#from sklearn.datasets import load_breast_cancer
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
train=pd.read_sas("C:/Users/namhpham/Documents/Personal files/R workspace/x918_training_data.sas7bdat")
train.shape

(29304, 13)

In [12]:
train.head()

,person_id,Purchased_X918,age,work_class,education,education_yrs,marital_status,occupation,relationship,race,gender,hrs_per_week,native_country
0,2.0,b'No',50.0,b'Self-emp-not-inc',b'Bachelors',13.0,b'Married-civ-spouse',b'Exec-managerial',b'Husband',b'White',b'Male',13.0,b'United-States'
1,3.0,b'No',38.0,b'Private',b'HS-grad',9.0,b'Divorced',b'Handlers-cleaners',b'Not-in-family',b'White',b'Male',40.0,b'United-States'
2,5.0,b'No',28.0,b'Private',b'Bachelors',13.0,b'Married-civ-spouse',b'Prof-specialty',b'Wife',b'Black',b'Female',40.0,b'Cuba'
3,6.0,b'No',37.0,b'Private',b'Masters',14.0,b'Married-civ-spouse',b'Exec-managerial',b'Wife',b'White',b'Female',40.0,b'United-States'
4,7.0,b'No',49.0,b'Private',b'9th',5.0,b'Married-spouse-absent',b'Other-service',b'Not-in-family',b'Black',b'Female',16.0,b'Jamaica'

In [40]:
# Find out how many data is missing -> need to rerun
train.isnull().sum()

person_id         0
Purchased_X918    0
age               0
work_class        0
education         0
education_yrs     0
marital_status    0
occupation        0
relationship      0
race              0
gender            0
hrs_per_week      0
native_country    0
dtype: int64

In [22]:
# Over the last year, only about 24% of customers bought the product
purchase_count=train['Purchased_X918'].value_counts(normalize='True')
purchase_count

b'No'     0.760203
b'Yes'    0.239797
Name: Purchased_X918, dtype: float64

In [87]:
# P
train.groupby('Purchased_X918').describe()

                               age  education_yrs  hrs_per_week     person_id
Purchased_X918
b'No'          count  22277.000000   22277.000000  22277.000000  22277.000000
               mean      36.718185       9.597208     38.828837  16260.500830
               std       13.973288       2.437666     12.310230   9375.103925
               min       17.000000       1.000000      1.000000      2.000000
               25%       25.000000       9.000000     35.000000   8135.000000
               50%       34.000000       9.000000     40.000000  16273.000000
               75%       46.000000      10.000000     40.000000  24383.000000
               max       90.000000      16.000000     99.000000  32560.000000
b'Yes'         count   7027.000000    7027.000000   7027.000000   7027.000000
               mean      44.260424      11.613775     45.496798  16370.717234
               std       10.558968       2.390493     10.985983   9456.577114
               min       19.000000       2.000000      1.000000      8.000000
               25%       36.000000      10.000000     40.000000   8226.500000
               50%       44.000000      12.000000     40.000000  16419.000000
               75%       51.000000      13.000000     50.000000  24511.500000
               max       90.000000      16.000000     99.000000  32561.000000

In [65]:
train['education'].value_counts(normalize='True')

b'HS-grad'         0.322379
b'Some-college'    0.223792
b'Bachelors'       0.163868
b'Masters'         0.053645
b'Assoc-voc'       0.042383
b'11th'            0.036377
b'Assoc-acdm'      0.032589
b'10th'            0.028802
b'7th-8th'         0.019724
b'Prof-school'     0.017404
b'9th'             0.015868
b'12th'            0.013241
b'Doctorate'       0.012968
b'5th-6th'         0.010272
b'1st-4th'         0.005187
b'Preschool'       0.001502
Name: education, dtype: float64

In [72]:
train.groupby(['Purchased_X918'])['race'].value_counts(normalize='True')

Purchased_X918  race
b'No'           b'White'                 0.838174
                b'Black'                 0.109710
                b'Asian-Pac-Islander'    0.030884
                b'Amer-Indian-Eskimo'    0.011402
                b'Other'                 0.009831
b'Yes'          b'White'                 0.905792
                b'Black'                 0.050519
                b'Asian-Pac-Islander'    0.035719
                b'Amer-Indian-Eskimo'    0.004554
                b'Other'                 0.003415
Name: race, dtype: float64

In [84]:
train[train['Purchased_X918']==b'Yes'].groupby('Purchased_X918')['occupation'].value_counts(normalize='True')

Purchased_X918  occupation
b'Yes'          b'Exec-managerial'      0.249466
                b'Prof-specialty'       0.237939
                b'Sales'                0.125089
                b'Craft-repair'         0.117404
                b'Adm-clerical'         0.064750
                b'Transport-moving'     0.041981
                b'Tech-support'         0.036716
                b'Machine-op-inspct'    0.032019
                b'Protective-serv'      0.027323
                b'?'                    0.024335
                b'Other-service'        0.016650
                b'Farming-fishing'      0.014658
                b'Handlers-cleaners'    0.011385
                b'Armed-Forces'         0.000142
                b'Priv-house-serv'      0.000142
Name: occupation, dtype: float64

In [ ]:
# Building model
## Partition Dataset
## Decision Tree
## Evaluate